In [1]:
import pandas as pd
from fredapi import Fred
from data_cleaner import getMacros, getCPIs, cleanNTD
import datetime

In [2]:
FRED_KEY = '6d3ab641594afa0ef4eb9521b8ff6f85'
frd = Fred(api_key=FRED_KEY)

In [3]:

now = datetime.datetime.utcnow()
start= datetime.datetime.strftime(now - datetime.timedelta(days=7000),'%Y-%m-%d')
end = datetime.datetime.strftime(now + datetime.timedelta(days=1),'%Y-%m-%d')

In [4]:
getCPIs(frd, start_date=start, end_date=now)

                CPI    CPIcn    CPIcu
datetime
2004-07-31  189.200  135.900  132.000
2004-08-31  189.800  136.000  135.500
2004-09-30  190.800  136.400  136.700
2004-10-31  191.700  137.600  137.700
2004-11-30  191.700  138.100  138.400
...             ...      ...      ...
2023-04-30  303.294  178.616  199.646
2023-05-31  303.841  178.556  198.746
2023-06-30  304.348  178.411  196.086
2023-07-31  306.269  178.895  193.671
2023-08-31  307.481  179.424  188.772

[230 rows x 3 columns]

In [5]:
getMacros(frd, start_date=start, end_date=end)

            Unemployment        WTI  AutoRate  AutoSales  DispIncome
datetime
2004-07-31           5.4  42.680000       NaN     17.157     38401.0
2004-08-31           5.4  45.935714       NaN     17.875     38385.0
2004-09-30           5.5  53.280476       NaN     17.514     38362.0
2004-10-31           5.4  48.469000       NaN     17.362     38208.0
2004-11-30           5.4  43.149524       NaN     18.102     39581.0
...                  ...        ...       ...        ...         ...
2023-05-31           3.6  70.248095       NaN     16.602     50194.0
2023-06-30           3.5  76.069500       NaN     16.441     50058.0
2023-07-31           3.8  81.386087      8.12     15.888     49951.0
2023-08-31           3.8  89.425000       NaN     16.180         NaN
2023-09-30           NaN  86.218000       NaN        NaN         NaN

[231 rows x 5 columns]

In [6]:
pub_df = pd.read_excel('./monthly_ridership_2023.xlsx', sheet_name='UPT')

In [7]:
useless = ['NTD ID', 'Legacy NTD ID', 'Reporter Type', 'UACE CD', 'Mode', 'TOS']
clean_df = pub_df.loc[pub_df.Status == 'Active', ~pub_df.columns.isin(useless)]
clean_df[['City', 'State']] = clean_df['UZA Name'].str.split(',', expand=True)
clean_df.drop('UZA Name', inplace=True, axis=1)

In [8]:
cleanNTD()

,Agency,Status,3 Mode,1/2002,2/2002,3/2002,4/2002,5/2002,6/2002,7/2002,...,1/2023,2/2023,3/2023,4/2023,5/2023,6/2023,7/2023,8/2023,City,State
0,King County Department of Metro Transit,Active,Bus,135144.0,127378.0,136030.0,142204.0,144697.0,131833.0,137547.0,...,47779.0,44231.0,52048.0,49625.0,55264.0,42949.0,52370.0,56040.0,Seattle--Tacoma,WA
1,King County Department of Metro Transit,Active,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,20716.0,24400.0,27011.0,24361.0,25736.0,28317.0,Seattle--Tacoma,WA
2,King County Department of Metro Transit,Active,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10034.0,9939.0,11402.0,10438.0,10611.0,9856.0,9619.0,10723.0,Seattle--Tacoma,WA
3,King County Department of Metro Transit,Active,Ferry,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,19288.0,17590.0,26039.0,25581.0,39368.0,41956.0,63863.0,52949.0,Seattle--Tacoma,WA
4,King County Department of Metro Transit,Active,Rail,12990.0,17240.0,21498.0,22687.0,31981.0,44346.0,64552.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Seattle--Tacoma,WA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2261,City of Glendale,Active,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,59872.0,58292.0,66130.0,64085.0,67265.0,66923.0,57541.0,69354.0,Los Angeles--Long Beach--Anaheim,CA
2262,City of Pasadena,Active,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3928.0,3866.0,4306.0,4258.0,4738.0,4457.0,5626.0,6158.0,Los Angeles--Long Beach--Anaheim,CA
2263,City of Pasadena,Active,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,83924.0,84435.0,92254.0,89905.0,93615.0,87417.0,85578.0,93023.0,Los Angeles--Long Beach--Anaheim,CA
2264,Pomona Valley Transportation Authority,Active,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5340.0,5465.0,6259.0,5550.0,5948.0,5714.0,5584.0,6112.0,Los Angeles--Long Beach--Anaheim,CA
2265,Pomona Valley Transportation Authority,Active,Bus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1306.0,1423.0,1616.0,1679.0,1800.0,1728.0,1689.0,1849.0,Los Angeles--Long Beach--Anaheim,CA