In [1]:
import pandas as pd
import numpy as np
from fredapi import Fred
from ntdData import cleanNTD
from fredData import getCPIs, getMacros
from catData import catVars
import datetime

In [2]:
FRED_KEY = '6d3ab641594afa0ef4eb9521b8ff6f85'
frd = Fred(api_key=FRED_KEY)

In [3]:
now = datetime.datetime.utcnow()
start= datetime.datetime.strftime(now - datetime.timedelta(days=7000),'%Y-%m-%d')
end = datetime.datetime.strftime(now + datetime.timedelta(days=1),'%Y-%m-%d')

In [4]:
cpis = getCPIs(frd, start_date=start, end_date=now)
macros = getMacros(frd, start_date=start, end_date=end)
ntd = cleanNTD(path='./data/monthly_ridership_2023.xlsx')

[*********************100%***********************]  1 of 1 completed

In [7]:
import yfinance as yf

z = yf.download('XLRE', start=start, end=now, interval='1mo').drop(labels=['Open', 'High', 'Low', 'Adj Close', 'Volume'], axis=1)
z.index=pd.to_datetime(z.index).to_period('M').to_timestamp('M')

[*********************100%***********************]  1 of 1 completed

In [8]:
z

                Close
Date
2015-11-30  30.750000
2015-12-31  31.184000
2015-12-31        NaN
2016-01-31  29.190001
2016-02-29  29.330000
...               ...
2023-07-31  38.189999
2023-08-31  37.020000
2023-09-30  34.070000
2023-09-30        NaN
2023-10-31  33.099998

[128 rows x 1 columns]