In [1]:
import pandas as pd
import gc, datetime
from fredapi import Fred
from ntdData import cleanNTD
from fredData import getCPIs, getMacros
from catData import catVars
gc.enable()

In [2]:
FRED_KEY = '6d3ab641594afa0ef4eb9521b8ff6f85'
frd = Fred(api_key=FRED_KEY)
now = datetime.datetime.utcnow()
start = datetime.datetime.strftime(now - datetime.timedelta(days=6971),'%Y-%m-%d')
now = datetime.datetime.strftime(now, '%Y-%m-%d')

In [3]:
cpis = getCPIs(frd, start_date=start, end_date=now)
macros = getMacros(frd, start_date=start, end_date=now)
ntd = cleanNTD(path='./data/monthly_ridership_2023.xlsx')
catVars(ntd)

[*********************100%***********************]  1 of 1 completed

In [4]:
ntd.head()

           State   Mode       UPT  Season Region
datetime
2002-01-31    AK    Bus  287620.0  Winter      W
2002-01-31    AK  Other       0.0  Winter      W
2002-01-31    AL    Bus  246000.0  Winter     SE
2002-01-31    AR    Bus       0.0  Winter     SE
2002-01-31    AR   Rail       0.0  Winter     SE

In [5]:
cpis.head()

              CPI  CPIcn  CPIcu
datetime
2004-10-31  190.8  136.4  136.7
2004-11-30  191.7  137.6  137.7
2004-12-31  191.7  138.1  138.4
2005-01-31  191.6  138.5  138.6
2005-02-28  192.4  138.6  138.4

In [6]:
macros.head()

            Unemployment        WTI  AutoSales  DispIncome         RE
datetime
2004-10-31           5.5  53.280476     17.514     38362.0  53.099998
2004-11-30           5.4  48.469000     17.362     38208.0  55.200001
2004-12-31           5.4  43.149524     18.102     39581.0  56.549999
2005-01-31           5.3  46.837000     16.889     38086.0  51.709999
2005-02-28           5.4  48.148947     16.886     38070.0  53.349998