In [5]:
import pandas as pd
from fredapi import Fred
from data_cleaner import getMacros, getCPIs, cleanNTD
import datetime

In [6]:
FRED_KEY = '6d3ab641594afa0ef4eb9521b8ff6f85'
frd = Fred(api_key=FRED_KEY)

In [7]:
now = datetime.datetime.utcnow()
start= datetime.datetime.strftime(now - datetime.timedelta(days=7000),'%Y-%m-%d')
end = datetime.datetime.strftime(now + datetime.timedelta(days=1),'%Y-%m-%d')

In [8]:
cpis = getCPIs(frd, start_date=start, end_date=now)
macros = getMacros(frd, start_date=start, end_date=end)
ntd = cleanNTD()

In [9]:
cpis.head()

              CPI  CPIcn  CPIcu
datetime
2004-07-31  189.2  135.9  132.0
2004-08-31  189.8  136.0  135.5
2004-09-30  190.8  136.4  136.7
2004-10-31  191.7  137.6  137.7
2004-11-30  191.7  138.1  138.4

In [12]:
macros.tail()

            Unemployment        WTI  AutoRate  AutoSales  DispIncome
datetime
2023-05-31           3.6  70.248095       NaN     16.602     50194.0
2023-06-30           3.5  76.069500       NaN     16.442     50051.0
2023-07-31           3.8  81.386087      8.12     15.898     49969.0
2023-08-31           3.8  89.425000       NaN     16.233     49904.0
2023-09-30           NaN  86.218000       NaN        NaN         NaN

In [14]:
ntd.head()

           State   Mode       UPT
datetime
2002-01-31    AK    Bus  287620.0
2002-01-31    AK  Other       0.0
2002-01-31    AL    Bus  246000.0
2002-01-31    AR    Bus       0.0
2002-01-31    AR   Rail       0.0